.photo-grid {
  max-width: 1184px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  padding-top: 118px;
  justify-items: center;
}

.photo-grid__image {
  max-width: 284px;
  width: 100%;
  max-height: 213px;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    padding-top: 64px;
  }

  .photo-grid__image {
    max-width: 352px;
    max-height: 213px;
    object-fit: cover;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    padding-top: 38px;
  }

  .photo-grid__image {
    max-width: 288px;
    max-height: 216px;
    object-fit: cover;
  }
}
